<div>
  <div
    class="tw-relative tw-overflow-x-auto sm:tw-rounded-lg tw-scrollbar tw-scrollbar-thumb-gray-200 tw-scrollbar-track-gray-100 tw-scrollbar-h-4">
    <table class="tw-w-full tw-text-left rtl:tw-text-right tw-text-gray-500 tw-text-md">
      <thead class="tw-w-full tw-text-md tw-text-gray-700 tw-bg-gray-50">
        <tr class="tw-border">
          @for(header of tableHeader; track header.key ){
          <th
            scope="col"
            class="tw-px-8 tw-py-3"
            [style.minWidth]="header.width">
            {{ header.name }}
          </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (record of history ; track record.id ) {
        <tr class="odd:tw-bg-white even:tw-bg-gray-50 tw-border tw-text-md">
          @for(header of tableHeader; track header.key){ @if(header.key === 'commentDetail'){
          <td
            scope="row"
            class="tw-px-6 tw-py-4 tw-font-medium tw-text-gray-900 tw-h-20">
            <span class="tw-line-clamp-3 tw-max-w-[300px]">
              {{ record[header.key] }}
            </span>
          </td>

          } @else {
          <td
            scope="row"
            class="tw-px-6 tw-py-4 tw-font-medium tw-text-gray-900 tw-h-20">
            <span class="tw-line-clamp-3">
              {{ record[header.key] }}
            </span>
          </td>
          } }
        </tr>
        } @empty {
        <tr class="tw-h-[200px]">
          <td
            colspan="5"
            class="tw-border tw-text-md tw-text-center">
            Không có dữ liệu
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <nav
    class="tw-flex tw-items-center tw-flex-column tw-flex-wrap md:tw-flex-row tw-justify-between tw-pt-4 tw-px-2 tw-border-x tw-border-b"
    aria-label="Table navigation">
    <span
      class="tw-text-md tw-font-normal tw-text-gray-500 tw-mb-4 md:tw-mb-0 tw-block tw-w-full md:tw-inline md:tw-w-auto">
      Showing
      <span class="tw-font-semibold tw-text-gray-900">1-10</span>
      of
      <span class="tw-font-semibold tw-text-gray-900">1000</span>
    </span>
    <ul class="tw-inline-flex tw--space-x-px rtl:tw-space-x-reverse tw-text-md tw-h-8">
      <li>
        <a
          href="#"
          class="tw-flex tw-items-center tw-justify-center tw-px-3 tw-h-10 tw-ms-0 tw-leading-tight tw-text-gray-500 tw-bg-white tw-border tw-border-gray-300 tw-rounded-s-lg hover:tw-bg-gray-100 hover:tw-text-gray-700">
          Previous
        </a>
      </li>
      <li>
        <a
          href="#"
          class="tw-flex tw-items-center tw-justify-center tw-px-3 tw-h-10 tw-leading-tight tw-text-gray-500 tw-bg-white tw-border tw-border-gray-300 tw-hover:bg-gray-100 hover:tw-text-gray-700">
          1
        </a>
      </li>
      <li>
        <a
          href="#"
          class="tw-flex tw-items-center tw-justify-center tw-px-3 tw-h-10 tw-leading-tight tw-text-gray-500 tw-bg-white tw-border tw-border-gray-300 tw-hover:bg-gray-100 hover:tw-text-gray-700">
          2
        </a>
      </li>
      <li>
        <a
          href="#"
          aria-current="page"
          class="tw-flex tw-items-center tw-justify-center tw-px-3 tw-h-10 tw-leading-tight tw-text-gray-500 tw-bg-white tw-border tw-border-gray-300 tw-hover:bg-gray-100 hover:tw-text-gray-700">
          3
        </a>
      </li>
      <li>
        <a
          href="#"
          class="tw-flex tw-items-center tw-justify-center tw-px-3 tw-h-10 tw-leading-tight tw-text-gray-500 tw-bg-white tw-border tw-border-gray-300 tw-hover:bg-gray-100 hover:tw-text-gray-700">
          4
        </a>
      </li>
      <li>
        <a
          href="#"
          class="tw-flex tw-items-center tw-justify-center tw-px-3 tw-h-10 tw-leading-tight tw-text-gray-500 tw-bg-white tw-border tw-border-gray-300 tw-hover:bg-gray-100 hover:tw-text-gray-700">
          5
        </a>
      </li>
      <li>
        <a
          href="#"
          class="tw-flex tw-items-center tw-justify-center tw-px-3 tw-h-10 tw-leading-tight tw-text-gray-500 tw-bg-white tw-border tw-border-gray-300 tw-hover:bg-gray-100 hover:tw-text-gray-700">
          Next
        </a>
      </li>
    </ul>
  </nav>
</div>
