<div>
  <app-modal
    [openModal]="true"
    wrapperClass="tw-max-w-[50vw] tw-max-h-[70vh]"
    modalTitle="Nhập ý kiến"
    (changeModal)="closeModal()">
    <form
      class="tw-px-14 tw-py-8 tw-pt-0"
      [formGroup]="form"
      (ngSubmit)="openModalConfirm()">
      @if(isManager2){
      <div>
        <div class="tw-flex">
          <div class="tw-flex tw-items-center tw-me-4">
            <input
              formControlName="type"
              id="type1"
              type="radio"
              value="0"
              name="type"
              class="tw-w-5 tw-h-5 !tw-m-0 tw-text-blue-600 tw-bg-gray-100 tw-border-gray-300 focus:tw-ring-blue-500" />
            <label
              for="type1"
              class="tw-ms-2 tw-mb-0 !tw-text-md tw-font-medium tw-text-gray-900">
              Từ chối
            </label>
          </div>
          <div class="tw-flex tw-items-center tw-me-4">
            <input
              formControlName="type"
              id="type2"
              type="radio"
              value="1"
              name="type"
              class="tw-w-5 tw-h-5 !tw-m-0 tw-text-blue-600 tw-bg-gray-100 tw-border-gray-300 focus:tw-ring-blue-500" />
            <label
              for="type2"
              class="tw-ms-2 tw-mb-0 !tw-text-md tw-font-medium tw-text-gray-900">
              Phê duyệt
            </label>
          </div>
        </div>
      </div>
      }
      <div class="tw-mt-4">
        <label
          for="description"
          class="tw-block tw-mb-2 tw-font-medium tw-text-gray-900">
          Ý kiến
        </label>
        <textarea
          id="description"
          rows="5"
          class="tw-block tw-p-2.5 tw-w-full tw-text-gray-900 tw-bg-gray-50 !tw-rounded-md tw-border tw-border-gray-300 focus:tw-ring-blue-500 focus:tw-border-blue-500"
          formControlName="commentDetail"></textarea>
        @if(form.get('commentDetail')?.dirty && form.get('commentDetail')?.hasError("required")){
        <p class="tw-my-0 !tw-text-base tw-text-red-600">Ý kiến không được bỏ trống</p>
        }
      </div>
      <div class="tw-mt-8 tw-flex tw-justify-center tw-w-full">
        <button
          type="submit"
          class="tw-text-white tw-inline-flex tw-bg-primary hover:tw-bg-blue-400 focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-blue-300 tw-font-medium !tw-rounded-lg tw-px-5 tw-py-2.5 tw-text-center tw-w-[120px] tw-justify-center tw-items-center">
          <span class="tw-capitalize">{{ this.modalType === 'agree' ? 'Duyệt' : 'Duyệt' }}</span>
        </button>
      </div>
    </form>
  </app-modal>
  @if(isOpenModalConfirm){
  <app-modal-confirm
    (changeModal)="isOpenModalConfirm = $event"
    (confirm)="onSubmit()"
    [modalTitle]="modalTitle"></app-modal-confirm>
  }
</div>
