<app-modal
  [openModal]="true"
  [modalTitle]="modalTitle"
  (changeModal)="closeModal()">
  <form
    class="tw-px-14 tw-py-8 tw-pt-0"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <div>
      <div class="tw-grid tw-grid-cols-4 tw-gap-4">
        @for (field of fieldList; track field.key) { @switch (field.controlType) { @case
        (controlType.INPUT_DATE) {
        <app-input
          [formControlName]="field.key"
          [label]="field.label"
          [id]="field.key"
          type="datetime">
          @if (getFormControl(field.key)?.hasError('required')) {
          <p class="tw-my-0 !tw-text-base tw-text-red-600">{{ field.label }} không được bỏ trống</p>
          }
        </app-input>
        } @case (controlType.SELECT) {
        <app-select
          [formControlName]="field.key"
          [label]="field.label"
          [id]="field.key"
          [optionList]="field.options"></app-select>
        } @case (controlType.INPUT_TEXT) {
        <app-input
          [formControlName]="field.key"
          [label]="field.label"
          [id]="field.key"
          type="text">
          @if (getFormControl(field.key)?.hasError('required')) {
          <p class="tw-my-0 !tw-text-base tw-text-red-600">{{ field.label }} không được bỏ trống</p>
          }
        </app-input>
        } } }
      </div>
    </div>
    <div class="tw-flex tw-justify-center tw-mt-8">
      <button
        type="submit"
        class="tw-text-md tw-text-white tw-bg-primary hover:tw-bg-blue-800 focus:tw-ring-4 focus:tw-ring-blue-300 tw-font-medium !tw-rounded-lg tw-w-[250px] tw-h-16 tw-flex tw-items-center tw-justify-center tw-gap-4">
        <i class="fa fa-check"></i>
        <span class="tw-leading-none">Lưu</span>
      </button>
    </div>
  </form>
</app-modal>
